.array-container{
    /* display: flex;
    justify-content: center;
    align-self: center; */
    position: absolute;
    left: 100px;
    right: 100px;
    /* top: 50vh; */
}
.array-bar{
    width: 2px;
   display: inline-block;
    margin: 0 1px;
}
.array-containerButtons{
    margin: 8px;
    padding: 6px;
    color:  rgba(3, 29, 52, 0.954);
}
.array-containerButtons:hover{
    background-color: turquoise;
    
    color: rgba(3, 29, 52, 0.954);
    border: 8px;
}